<p> Restaurantes </p>
        <table>
            <thead>
                <tr>
                    <th>nome</th>
                    
                </th>
            </head>

            <tbody>
                <% Restaurant.all.each do |r| %>
                    <tr>
                        <td><%= r.name %></td>
                        <table>
                            <thead>
                                <tr>
                                    <th>produto</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% r.products.each do |p| %>
                                <tr>
                                    <td><%= r.name %></td>
                                  
                                </tr>
                                <% end %>
                            </tbody>
                        </table>
                    </tr>
                <% end %>
            </tbody>
        </table>