<h1>Home#index</h1>
<p>Hello Word <%= @email %></p>

<% if user_signed_in? %>
    <% if current_user.restaurant? %>
        <%= render 'restaurant' %>
    <% end %>
     <% if current_user.customer? %>
        <%= render 'customer' %>
    <% end %>
<% end %>
